/* common shared styles */
body{
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
.section-title{
    color: #181818;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/*nav related styles*/


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: rgb(19, 10, 10);
    font-size: 45px;

    /* font-family: "Open Sans", sans-serif; */
    /* font-optical-sizing: auto; */
    font-weight: 800;
    /* font-style: normal; */
    /* font-variation-settings: */
      /* "wdth" 100; */
}
nav>ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: rgb(52, 49, 49);
}
    /* header related styles */
    .header{ background-position: bottom right;
        background-repeat: no-repeat;
        background-color: #FFF8F3;
        background-image: url("../images/header_bg.png")
        
        
        
        
        
    }
    .banner{
        padding: 30px 30px 0px 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .banner-content{
        max-width: 500px;
    }
   .banner .profile-pic{
    width: 500px;

    }
    .banner-greeting{
        font-size: 45px;
        color:#474747 ;
        margin-bottom: 0;
    }
    .banner-title{
        font-size: 85px;
        font-weight: 700;
        margin-top: 5px;
    }
    /* main section styles */
    .main{
        max-width: 1140px;
        margin: 0 auto;
    }
    .main section{
        margin-top: 150px;
    }

    /* about section styles */
    .about{
        padding: 130px; 
        border-radius: 10px;
        background-color: #FFF8F3;
        margin-top: 130px;

    }
    .about-info-container{
        display: flex;
        justify-content: space-around;
    }

      .about-info{
        text-align: center;
        font-size: 20px;
      }
            #what i{
                padding: 30px 150px;
            }
            /* skii related styles */
            .skill-container{
                display: flex;
                gap: 24px;
            }
            .skill{
                padding:30px ;
                border-radius: 5px;
                background-color: #FFF8F3;
                box-shadow: 0px 6px 50px 0px rgb(237, 219, 219);

            }
                .skill-description{
                    color: #757575;
                }
                        /* resume section styles */
                    .resume-column-title{
                        color: #474747;
                        font-size: 30px;
                        font-weight: 700;
                    }
                    .resume-container{
                        display: flex;
                        gap: 50px;
                        
                    }
                    .resume-item-title{
                        color: #474747;
                        font-size: 25px;
                        font-weight: 700;
                        margin-bottom: 10px;

                    }
                    .resume-item-institute{
                        margin-bottom: 20px;
                        margin-top: 0;
                    }
    .resume-item-institute ,.resume-item-description{
                        color: #757575;
                    }
                    .resume-container hr{
                        margin: 30px 30px;
                    }
                    .download-cv{
                        text-align: center;
                       margin-top: 50px;
                    }

    
    
    
    
    